In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Customer.csv")

In [4]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [7]:
df_new = df.iloc[:,2:]
df_new

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(df_new.iloc[:,0:2],df.iloc[:,2],test_size=0.2)

In [14]:
print(X_test.shape)
print(X_train.shape)
print(Y_test.shape)
print(Y_train.shape)

(10, 2)
(40, 2)
(10,)
(40,)

In [15]:
oe = OrdinalEncoder(categories = [['Poor','Average','Good'],['School','UG', 'PG']])

In [17]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [21]:
X_train_new = oe.transform(X_train)
X_test_new = oe.transform(X_test)

In [22]:
X_train_new

array([[1., 0.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [2., 2.],
       [0., 2.]])

In [24]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le = LabelEncoder()
le.fit(Y_train)
Y_train_new = le.transform(Y_train)
Y_test_new = le.transform(Y_test)

In [28]:
Y_train_new

array([0, 2, 2, 2, 0, 1, 0, 2, 1, 1, 1, 1, 1, 1, 0, 2, 1, 2, 2, 2, 2, 1,
       2, 0, 2, 1, 0, 1, 2, 0, 0, 1, 0, 2, 0, 1, 1, 0, 1, 2])

In [30]:
Y_test_new

array([0, 1, 2, 2, 2, 2, 0, 0, 1, 1])

In [31]:
data = pd.read_csv('cars.csv')

In [32]:
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [35]:
data['brand'].nunique()

32

In [40]:
data['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [44]:
data['owner'].nunique()

5

In [45]:
pd.get_dummies(data, columns= ['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
7096,Ford,33000,880000,False,True,False,False,True,False,False,False,False
7097,Mahindra,60000,700000,False,True,False,False,True,False,False,False,False
7098,Mahindra,60000,600000,False,True,False,False,True,False,False,False,False
7099,Nissan,40000,700000,False,False,False,True,True,False,False,False,False
7100,Tata,60000,400000,False,True,False,False,True,False,False,False,False

In [46]:
from sklearn.preprocessing import OneHotEncoder